certifi==2022.12.7
chardet==3.0.4
cheroot==5.8.3
CherryPy==11.0.0
Django==1.11.23
gunicorn==19.6.0
idna==2.6
nambaone==0.2.3
portend==2.2
pytz==2017.2
requests==2.18.4
six==1.11.0
tempora==1.9
urllib3==1.22
